target/
build/
reports/
downloads/
allure-results/
allure-report/
.allure/
surefire-reports/
generated-sources/
generated-test-sources/

mvnw
mvnw.cmd
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

.idea/
*.iml
*.ipr
*.iws
out/

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

.vscode/

.DS_Store
Thumbs.db

*.log
*.tmp
*.bak
*.swp
*.swo

allure-report/**/*.png
allure-report/**/*.jpg
allure-report/**/*.jpeg
allure-report/**/*.webp

build/reports/tests/**/*.png
build/reports/tests/**/*.jpg
build/reports/tests/**/*.jpeg
build/reports/tests/**/*.webp

ajcore.*.txt
.allure/

.env
local.properties

/reports/
/downloads/
